{% extends 'base.html.twig' %}

{% block title %} Szkoły tańca {% endblock %}

{% block body %}
    <form>
        <div class="row" justify-content-center>

            <div class="col-6 col-md-4">
                <select class="form-control selectpicker show-tick" id="select-country" data-live-search="true" name="miasto">
                    <option value="0">Wybierz miasto</option>
                    {% for miasto in miasta %}
                        <option data-tokens="city" value="{{ miasto.id }}" {% if wybrane_miasto==miasto.id %} selected {% endif %}>{{ miasto.nazwaMiasta }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-6 col-md-4">
                <input class="form-control" type="text" placeholder="🔎 Szukaj po nazwie szkoły" aria-label="Search" name="nazwa">

            </div>

            <div class="col-4 col-md-4">
                <button class="btn btn-primary" data-toggle="modal" type="submit"> Szukaj</button>

            </div>

        </div>
    </form>


    <div class="list-group">
        {% if szkoly %}
        {% for szkola in szkoly %}
            <a href="{{ path('szkola_info', {"id":szkola.id}) }}"
               class="list-group-item list-group-item-action flex-column align-items-start" id="myList">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ szkola.nazwaSzkoly }}</h5>
                    <small class="text-muted">{{ szkola.miastoSzkoly.nazwaMiasta }}</small>
                </div>
                <p class="mb-1">{{ szkola.opisKrotki }}</p>
                {% for umiejetnosci in szkola.kategorie %}
                    <small class="text-muted"><i class="far fa-check-circle"></i>{{ umiejetnosci.nazwaUmiejetnosci }}
                    </small>
                {% endfor %}
            </a>
            <br>
        {% endfor %}
    </div>
        {% else %}
                <div >
                    <p style="font-weight: bold; font-size: 22px; line-height:1 ;color: #494b54" class="text-center">Brak szkoły</p>
                </div>
                <div  class="col-xs-12 col-sm-12 col-md-6 col-lg-6 " >
                    <img src="{{ asset('img/search.png') }}"  alt="dance" >
                </div>
        {% endif %}

{% endblock %}






