{% extends "base.html.twig" %}

{% block body %}

    {% for message in app.flashes('welcome') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row" >

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 my-auto" style="color: #494b54">
            <p style="font-weight: bold; font-size: 68px; line-height:1" >Tańcz razem <br>z nami!</p>
            <p style="font-size: 18px">Najpopularniejsze szkoły tańca zebrane w jednym miejscu specjalnie dla Ciebie. Pomożemy zaoszczędzić Twój czas już teraz.
                Zaloguj się i zyskuj więcej!
            </p>
            <a class="btn btn-primary" href="{{ path('szkoly_lista') }}" role="button">Znajdź szkołę</a>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 my-auto">
            <img src="{{ asset('img/dance_boy.png') }}"  alt="dance" >
        </div>

    </div>

    <div class="container-fluid padding">
        <div class="row welcome text-center">
            <hr>
            <div class="col-12">
                <p class="lead"> Dowiedź się więcej o stronie: </p>
            </div>
        </div>
    </div>

    <!--- W liczbach -->
    <div class="container-fluid padding">
        <div class="row text-center padding">
            <div class="col-sm-3 ">
                <img src="{{ asset('illustracje/search.png') }}"  alt="dance" >
                 <h4>Znajdź szkołę</h4>
                 <p class="text-justify">Po wejściu na stronę ze szkołami tańca jest możliwość filtrowania według wybranych kryteriów</p>
             </div>
            <div class="col-sm-3 ">
                <img src="{{ asset('illustracje/video.png') }}"  alt="dance" >
                <h4>Obejrzyj wideo</h4>
                <p class="text-justify">Każda szkoła posiada również opis szczegółowy, który zawiera filmik wprowadzający o szkole</p>
            </div>
            <div class="col-sm-3 ">
                <img src="{{ asset('illustracje/location.png') }}"  alt="dance" >
                <h4>Sprawdź lokalizację</h4>
                <p class="text-justify">Na końcu opisu szkoły znajduje się lokalizacja na mapie Google, klikając możesz ją powiększyć</p>
            </div>
            <div class="col-sm-3 ">
                <img src="{{ asset('illustracje/comunication.png') }}"  alt="dance" >
                <h4>Nawiąż komunikację</h4>
                <p class="text-justify">Po zalogowaniu jest dostępna opcja przeglądu profili innych użytkowników serwisu</p>
            </div>
        </div>
    </div>

{% endblock %}
